/* view.css */
.notes-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
}

.note-card {
    border: 1px solid var(--background-modifier-border);
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: var(--background-secondary);
    color: var(--text-normal);
    transition: box-shadow 0.3s ease;
}

.note-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.note-title {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    color: var(--text-title-h1);
}

.note-path {
    margin-bottom: 0.5rem;
    color: var(--text-muted);
    font-size: 0.9rem;
}

.note-details {
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    color: var(--text-muted);
    margin-bottom: 0.5rem;
}

.note-date {
    display: inline-block;
    margin-right: 1rem;
}

button {
    padding: 0.5rem 1rem;
    background-color: var(--interactive-accent);
    color: var(--text-on-accent);
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--interactive-accent-hover);
}

.open-button {
    background-color: var(--interactive-accent);
}

.open-button:hover {
    background-color: var(--interactive-accent-hover);
}
